<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MediaChrome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <MediaChrome.Properties.Settings>
            <setting name="PrimaryColor" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="toolbarBG" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="custom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="bg" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="alternateColor" serializeAs="String">
                <value />
            </setting>
            <setting name="fade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sat" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="hue" serializeAs="String">
                <value>244</value>
            </setting>
            <setting name="highlight" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
        </MediaChrome.Properties.Settings>
    </userSettings>
</configuration>
